.footer-root{
    background: var(--gray);
    color: white;
    padding: 1rem 5rem;
}

.footer-content{
    width: 100%;
    display: flex;
    gap: 1rem;
    div{
        flex: 1;
    }
}

@media (max-width: 768px) {
    .footer-content {
        flex-wrap: wrap;
    }
}